/.github            export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/phpunit.xml.dist   export-ignore
/.idea              export-ignore
/images             export-ignore
/.package-lock.json export-ignore
/package.json       export-ignore
/postcss.config.js  export-ignore
/tailwind.config.js export-ignore