@tailwind utilities;

@screen lg {
  .filament-sidebar {
    z-index: 2 !important;
  }
}

.is-sticky.sticky-theme-default {
  .filament-header {
    @apply sticky inset-x-0 md:items-center py-3 md:-inset-x-6;
    z-index: 1;

    &:before {
      @apply backdrop-blur-md bg-white/95 dark:bg-gray-900/95 border-b border-gray-200 dark:border-gray-700 absolute block top-0 bottom-0;
      content: "";
      z-index: -1;
      left: -1000px;
      right: -1000px;
    }

    & .filament-header-heading {
      @apply text-xl overflow-ellipsis whitespace-nowrap overflow-hidden leading-none;
    }
  }
}

.is-sticky.sticky-theme-floating {
  .filament-header {
    @apply sticky lg:-mx-2 md:items-center py-3 px-4 backdrop-blur-lg bg-primary-400/40 dark:bg-primary-900/40 border rounded-lg shadow-md border-primary-200/40 dark:border-primary-700/40 z-[1];
  }

  .filament-header .filament-header-heading {
    @apply text-xl overflow-ellipsis whitespace-nowrap overflow-hidden leading-none;
  }
}