@tailwind utilities;

.filament-app-layout {
  overflow-x: clip !important;
}

.filament-sidebar {
  z-index: 39 !important;
}

.filament-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
}

[stuck] .filament-header {
  margin-inline: -1rem;
  padding-inline: theme("spacing.4");
  padding-block: theme("spacing.3");
  z-index: 39;
  min-height: 4rem;
  align-items: center;
  background-color: theme(colors.white / 75%);
  border-color: theme("colors.gray.200");
  border-bottom: solid 1px;
  backdrop-filter: blur(12px);
}

[stuck] .filament-header h1 {
  font-size: theme("fontSize.xl");
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dark [stuck] .filament-header {
  background-color: theme(colors.gray.900 / 75%);
  border-color: theme("colors.gray.700");
}

@screen md {
  [stuck] .filament-header {
    margin-inline: -1.5rem;
    padding-inline: theme("spacing.6");
    background-color: transparent !important;
    border-color: transparent !important;
    backdrop-filter: none;
  }

  .dark [stuck] .filament-header {
    background-color: transparent !important;
    border-color: transparent !important;
    backdrop-filter: none;
  }

  .filament-main::before {
    content: "";
    opacity: 0;
    height: 4rem;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: transparent;
    border-color: transparent;
    border-bottom: solid 1px;
    backdrop-filter: blur(12px);
    transition: opacity 0.125s ease-out;
  }

  [stuck] .filament-main::before {
    opacity: 1;
    z-index: 38;
    transition: opacity 0.125s ease-out;
    background-color: theme(colors.white / 75%);
    border-color: theme("colors.gray.200");
  }

  .dark [stuck] .filament-main::before {
    background-color: theme(colors.gray.900 / 75%);
    border-color: theme("colors.gray.700");
  }
}

@screen lg {
  [stuck] .filament-header {
    margin-inline: -2rem;
    padding-inline: theme("spacing.8");
  }
}
